{{> head}}        
{{> navbar}}

              <div class="row">
                    <div class="row">
                      <h1>DEMO ABOUT</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum eum tenetur nulla mollitia optio tempora animi nisi assumenda error! Consequuntur aliquam illum voluptatem eos corporis libero vitae vel fugiat.</p>
                     </div>

                    <div class="col-4">
                     <img src="assets/img/perro.jpg" class="img-thumbnail">
                    </div>
                </div>



{{> footer}}